<div class="jumbotron">
    <h1>Med-Assist</h1>
    <p class="lead">Med-Assist is a simple medicine reminder for patients with weak memory</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    
</div>
